<div class="search-container">
<p-galleria #galleria 
    [value]="images" 
    
    [(activeIndex)]="activeIndex" 
    [numVisible]="1" 
    [autoPlay]="true"
    [circular]="true"
    [showThumbnails]="false" 
    [showItemNavigators]="true"           
    [circular]="true" 
    [containerStyle]="{ 'max-width': '640px' }" 
    [containerClass]="galleriaClass()"
    [numVisible]="5">
    
    <ng-template #item let-item>
        <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
    </ng-template>
    <ng-template #caption let-item>
        <div class="text-xl mb-2 font-bold">{{ item.title }}</div>
        <p class="text-white">{{ item.alt }}</p>
    </ng-template>
</p-galleria>
    

 <div class="search-controls">
    <p-multiselect
      [options]="destinations"
      [(ngModel)]="selectedDestination"
      optionLabel="name"
      placeholder="Select Destination(s)"
      styleClass="search-multiselect"
      [showClear]="true"
      [maxSelectedLabels]="3"
      selectedItemsLabel="{0} destinations selected"
    />
    <input 
      type="month" 
      [(ngModel)]="startDate"
      class="search-box"
    />
    <button 
      (click)="onFind()"
      class="search-btn"

    >
      Find
    </button>
  </div>
