<div class="header-bar">
  <div class="logo">AvidTravel</div>
  <div class="pill-group">
    @for (item of [
      { title: 'Home', routerLink: '/' },
      { title: 'Destinations', routerLink: '/destination' },
      { title: 'Promotions', routerLink: '/promotion' },
      { title: 'Our Trips', link: 'https://angular.dev/tools/cli' },
      { title: 'Contact Us', routerLink: '/contact' },

    ]; track item.title) {
        <a
        class="pill"
        [routerLink]="item.routerLink"
      >
        <span>{{ item.title }}</span>
      </a>
    }
  </div>
  <div class="contact-info">
    <span class="contact-phone">+6013-438 7178</span>
    <span class="contact-email">contact@avidtravel.com</span>
  </div>
</div>
